<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxp.mapper.PersonMapper">

    <resultMap type="Person" id="personBuild">
        <id column="Id" jdbcType="VARCHAR" property="id" />
        <result column="Name" jdbcType="VARCHAR" property="name" />
        <result column="Sex" jdbcType="VARCHAR" property="sex" />
        <result column="IdCard" jdbcType="VARCHAR" property="idcard" />
        <result column="objectId" jdbcType="VARCHAR" property="objectId" />
        <result column="buildingName" jdbcType="VARCHAR" property="buildingName" />
        <result column="buildingId" jdbcType="VARCHAR" property="buildingId" />
        <result column="houseId" jdbcType="VARCHAR" property="houseId" />
    </resultMap>

  	<sql id="Oracle_Dialect_Suffix">
		<if test="page != null">
      		<![CDATA[  limit #{page.beginRowNo}, #{page.pageSize} ]]>
		</if>
	</sql>
	<sql id="orderby_id_desc">
		ORDER BY id DESC
	</sql>
	
    <select id="getPersonList" parameterType="map" resultMap="personBuild">
        SELECT
        t1.id id,SUBSTR(t1.id,1,24) as houseId,t1.Name name,t1.Sex sex,t1.IdCard
        IdCard,t2.ObjectId objectId,t2.Id BuildingId,t2.BuildingName
        BuildingName,
        t1.telephone telephone,t1.LiveAddress1 LiveAddress1,
        t1.LiveAddress2 LiveAddress2,
        t1.LiveAddress3 LiveAddress3,
        t1.LiveAddress4 LiveAddress4,
        t1.LiveAddress5 LiveAddress5
        FROM
        (
        (SELECT
        p.*,
        SUBSTR(p.`Id`, 1, 18) AS buildingId
        FROM
        t_${userCode}_person p) AS t1
        JOIN
        (SELECT
        *
        FROM
        t_${userCode}_building) AS t2
        ON t1.buildingId = t2.id
        )
        WHERE 1=1
        and t2.objectId!=0 and t1.IsDelete=0
    </select>

</mapper>